.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: grey;
    padding: 1rem;
    width: fit-content;
}

.container-img img {
    width: 20rem;
}

.carre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 12rem;
    height: 12rem;
}

.mobile {
    display: block;
}

.tablet {
    display: none;
}

.desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .mobile {
        display: none;
    }
    
    .tablet {
        display: block;
    }
    
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .mobile {
        display: none;
    }
    
    .tablet {
        display: none;
    }
    
    .desktop {
        display: block;
    }
}